html {
	box-sizing: border-box;
}

*, *:before, *: after{
	box-sizing: inherit;

}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

body{
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #222222;

}

.masthead {
    padding: 6em 0;
    background-image: url(https://ununsplash.imgix.net/photo-1416934625760-d56f5e79f6fe?q=75&fm=jpg&s=032ca37757b3dc1851661856b956a24c);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #570C7A;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}


.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}

.introduction-section > p,
.location-section > p,
.questions-section > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-size: 1.2em;
    margin-top: 1em;
    color: #570C7A;
  
}

h1 {
  color: #570C7A;
  font-weight: bold;
  font-size: 1.5em;
}

.social > li {
    display: inline-block;
}

.content-footer > p {
 color: white;
}

.content-footer {
  background-color: #570C7A;
  
}